@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface:wght@400&family=Work+Sans:wght@300;500&display=swap');

:root {
  --font-base: 'Work Sans', sans-serif;
  --font-heading: 'Abril Fatface', serif;
  --red: red;
  --darkred: #7F0036;
  --lightgrey: #f2f2f2;
  --grey: #C0C0C0;
  --darkgrey: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
}

* {
  box-sizing: border-box;
}
html,
body {
  background-color: var(--lightgrey);
  color: var(--darkgrey);
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}
p {
  padding-bottom: 1em;
}
h1,
h2,
h3 {
  color: var(--red);
  font-family: var(--font-heading);
  font-weight: 400;
  padding-bottom: .5em;
  line-height: 1em;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.25em;
}
ul {
  margin-bottom: .5em;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0 0 1.5em;
}
figcaption {
  background: var(--darkgrey);
  color: var(--white);
  display: inline-block;
  font-size: .75em;
  line-height: 1em;
  padding: 4px 8px;
}
a[href] {
  color: var(--blue);
  font-weight: 500;
}
header,
main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}
pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
header {
  background-color: var(--lightgrey);
}

/* Logo */
.logo {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}

/* Nav */
nav {
  display: inline-block;
}

.nav {
  padding: 0;
  list-style: none;
  margin-left: 1em;
}
.nav .nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav .nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav .nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgrey);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.brattco-home .postlist-link {
  font-size: 1.5em;
}

/* Post */
.brattco-post {
  overflow: hidden;
}
.brattco-post .container {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}
.brattco-post .container figure {
  max-width: 1000px;
  width: 100%;
}
.brattco-post .container figure img {
  margin-left: -20%;
  max-width: 1200px;
  width: 140%;
}


/* Tags */
.post-tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Structure */
.container {
  max-width: 1300px;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  body,
  html {
    font-size: 1.2em;
  }
}
