<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <title>{{ metadata.title }}</title>
    <meta name="description" content="{{ metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74937510-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-74937510-1');
    </script>

    <script>
      if (localStorage.theme) document.documentElement.setAttribute("data-theme", localStorage.theme);
    </script>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{metadata.author.twitter}}" />
    <meta name="twitter:creator" content="{{metadata.author.twitter}}" />
    <meta name="twitter:title" content="{{ metadata.title }} {% if title %} — {{title}}{% else %}{% endif %}">
    <meta name="twitter:image" itemprop="image" content="https://bratt.co/img/{% if feature_image %}{{feature_image}}{% else %}feature-image.png{% endif %}" />
    <meta prefix="og: http://ogp.me/ns#" property="og:url" content="{{ metadata.url }}{{page.url}}" />
    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="{{ metadata.title }} {% if title %} — {{title}}{% else %}{% endif %}" />
    <meta prefix="og: http://ogp.me/ns#" property="og:description" content="{% if excerpt %}{{excerpt}}{% else %}Design portfolio of Chris Bratt{% endif %}" />
    <meta prefix="og: http://ogp.me/ns#" property="og:image" itemprop="image" content="http://bratt.co/img/{% if feature_image %}{{feature_image}}{% else %}feature-image.png{% endif %}" />
    <meta prefix="og: http://ogp.me/ns#" property="og:image:secure_url" itemprop="image" content="https://bratt.co/img/{% if feature_image %}{{feature_image}}{% else %}feature-image.png{% endif %}" />
    <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
  </head>
  <body>

    <header id="masthead">
      <div class="container">
        <div class="logo-container">
          <a href="{{ '/' | url }}" class="logo">
            <div id="logo-mark">
              <svg viewBox="0 0 225 291" xmlns="http://www.w3.org/2000/svg">
                <defs>
                  <linearGradient id="brand-gradient" x2="0.35" y2="1">
                    <stop offset="0%" stop-color="var(--color-stop)" />
                    <stop offset="30%" stop-color="var(--color-stop)" />
                    <stop offset="100%" stop-color="var(--color-bot)" />
                  </linearGradient>
                </defs>
                <polyline points="133.835092 279.292226 145.424198 290.951628 224.855898 211.877201 158.214827 145.155828 224.855898 78.2408674 146.396821 0 112.715169 33.6440297 157.032843 78.2408674 89.5546518 145.334464 156.310342 211.877201 123.738773 244.429032 24.7229651 145.334464 101.535763 68.5489455 110.986558 78.2408674 43.72132 145.334464 123.738773 224.806396 135.389685 213.011814 67.4864067 145.334464 134.557593 78.2408674 101.535763 44.7576465 0.574440505 145.334464 123.738773 268.307498 180.297484 211.877201 114.262988 145.334464 181.019985 78.2408674 136.219121 33.6440297 146.396821 23.561972 201.2712 78.2408674 134.557593 145.155828 201.2712 211.877201"></polyline>
              </svg>
            </div>
            <span>
              {{ metadata.name }}
            </span>
          </a>
        </div>
        <nav>
          <ul class="nav">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}" class="nav-item-link">{{ entry.title }}</a></li>
          {%- endfor %}
          </ul>
        </nav>
      </div>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      <div class="container">
        <div class="contact">
          <h2 class="margin-reset">
            <a href="mailto:chris@bratt.co">chris@bratt.co</a>
          </h2>
        </div>
        <div class="social">
          <h2 class="margin-reset">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="margin-bottom:-4px;"><path d="M0 0v24h24v-24h-24zm8 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.397-2.586 7-2.777 7 2.476v6.759z" style="fill:#0e76a8;"/></svg>
            <a href="//www.linkedin.com/in/christopherbratt" target="_blank">LinkedIn</a>
          </h2>
        </div>
        <div class="theme-switch">
          <p class="small margin-reset">
            <a href="#0" onclick="theme_switch()">Switch to <span id="theme_readout"></span></a>
          <p>
        </div>
        <div class="copyright">
          <p class="margin-reset">
            &copy;<script type="text/javascript">document.write( new Date().getFullYear() );</script> {{ metadata.name }}
            <small>
              &nbsp;&nbsp;Made with 11ty
            </small>
          </p>
        </div>
      </div>
    </footer>

  </body>

  <script>
    var theme = 'light';
    if (localStorage.getItem('theme')) {
      if (localStorage.getItem('theme') === 'dark') {
        theme = 'dark';
      }
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      theme = 'dark';
    }

    var theme;
    function theme_apply() {
      'use strict';
      if (theme === 'light') {
        document.getElementById('theme_readout').innerHTML = 'Dark Mode';
        document.documentElement.setAttribute('data-theme', 'light');
        localStorage.setItem('theme', 'light');
      } else {
        document.getElementById('theme_readout').innerHTML = 'Light Mode';
        document.documentElement.setAttribute('data-theme', 'dark');
        localStorage.setItem('theme', 'dark');
      }
    }
    theme_apply();
    function theme_switch() {
      'use strict';
      if (theme === 'light') {
        theme = 'dark';
      } else {
        theme = 'light';
      }
      theme_apply();
    }
    var theme_OS = window.matchMedia('(prefers-color-scheme: light)');
    theme_OS.addEventListener('change', function (e) {
      'use strict';
      if (e.matches) {
        theme = 'light';
      } else {
        theme = 'dark';
      }
      theme_apply();
    });
  </script>

</html>
