---
layout: layouts/base.njk
templateClass: brattco-post
---
<div class="post-banner-container" {% if theme_color %} style="background-color:{{ theme_color }}"{% endif %}>
  <img src="/img/{{ banner_image }}" alt="" id="work-banner-image"/>
  <div class="post-banner-content" id="work-banner-title">
    <h1 class="bump">{{ title }}</h1>
    <p class="bump margin-reset">{{ description }}</p>
    {{ tags_display }}
    <p class="margin-reset small post-tags">
      {% set comma = joiner() %}
      {% for tag in tags -%}
        {% if tag !== 'posts' %}{{ comma() }} <span class="tag">{{ tag }}</span>{% endif %}
      {%- endfor %}
    </p>
  </div>
</div>

<div class="container page-content" id="work-content">
  {{ content | safe }}
  <ul>
    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
    {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
  </ul>
</div>

<script type="text/javascript">
	let bg = document.getElementById("work-banner-image");
	let title = document.getElementById("work-banner-title");
	let content = document.getElementById("work-content");

	window.addEventListener('scroll', function(){
		var value = window.scrollY;

		bg.style.top = value * -0.04 + 'px';
		title.style.top = value * -0.08 + 'px';
	})
</script>
